@use '../abstracts' as *;

footer {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    background-color: var(--gl-body-v4);
    color: var(--gl-text-v2);
    &-in {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      column-gap: 24px;
      .logo {
        width: 240px;
        height: 40px;
      }
    }
  }
}
