.metin2-add-server {
  .title {
    display: block;
    font-size: 24px;
    font-weight: 600;
  }

  .create-server-form {
    position: relative;

    & > div {
      margin-bottom: 16px;
    }

    .form-action-buttons {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      column-gap: 12px;
      padding: 16px 0;

      .submit-btn {
        padding: 6px 24px;
      }

      .clear-btn {
        position: absolute;
        top: 8px;
        right: 0;
        padding: 6px 12px;
        min-width: fit-content;
        width: 38px;
        height: 38px;
        span {
          font-size: 14px;
        }
      }
    }

    .team-box {
      &.not-empty {
        .team-box-input {
          .MuiInputBase-input {
            background: #b2ff9473;
            background: -webkit-linear-gradient(0deg, #b2ff9473, #ecffe5);
            background: linear-gradient(0deg, #bcf3d173, #ecffe5);
          }
        }
        .team-box-clips {
          background: #b2ff9473;
          background: -webkit-linear-gradient(0deg, #b2ff9473, #ecffe5);
          background: linear-gradient(0deg, #bcf3d173, #ecffe5);
        }
      }

      &-clips {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 6px;
        padding: 6px 3px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid var(--gl-border-v1);
        border-left: 1px solid var(--gl-border-v1);
        border-right: 1px solid var(--gl-border-v1);
        background-color: var(--gl-body-v2);

        &-item {
          height: 28px;

          background-color: var(--gl-subtitle-v1);

          .MuiChip-label {
            color: var(--gl-text-v2);
            font-size: 14px;
          }

          .MuiSvgIcon-root {
            color: var(--gl-body-v3);
          }
        }
      }
    }
  }

  .opening-time {
    text-align: end;
  }

  .rules {
    .rule-title {
      font-size: 18px;
      font-weight: 600;
      display: inline-block;
    }

    .rule-list {
      li {
        font-size: 14px;
        padding: 6px 12px;
        margin: 8px 0;
        border-radius: 4px;
        border: 1px solid var(--gl-border-v1);
        color: var(--gl-subtitle-v1);
        background-color: var(--gl-body-v2);
      }
    }
  }

  .MuiInputBase-root,
  .MuiFormControl-root {
    -webkit-text-fill-color: var(--gl-subtitle-v1) !important;
    background-color: transparent;

    input,
    .MuiSelect-select {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: var(--gl-body-v1);
      background: -webkit-linear-gradient(0deg, var(--gl-body-v3), var(--gl-body-v3));
      background: linear-gradient(0deg, var(--gl-body-v3), var(--gl-body-v3));
    }

    &.not-empty {
      input,
      .MuiSelect-select {
        background: #b2ff9473;
        background: -webkit-linear-gradient(0deg, #b2ff9473, #ecffe5);
        background: linear-gradient(0deg, #bcf3d173, #ecffe5);
      }
    }
  }
}
