.page-metin2 {
  padding: 16px;

  .server-list {
    .list {
    }

    .total-info {
      display: block;
      text-align: end;
      padding-top: 2px;
      font-weight: 500;
      color: var(--gl-subtitle-v1);
    }

    .pagination {
      margin-top: 16px;
    }
  }
}
