.image-node {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;

  &.fill {
    width: 100%;
    height: 100%;
  }

  .next-image {
    object-fit: contain;
    object-position: center;
  }

  &.object-cover {
    .next-image {
      object-fit: cover;
    }
  }

  .image-loading-skeleton {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
